<div class='content'>
  <img src="/assets/images/uni_man.png" alt="University of Manchester">
  <h3>University of Manchester</h3>
  <p class="subtitle">Computer Science graduate 2019</p>
  <p>
    Being far away from friends and family is never easy, and during my time here, I really learned a lot about who I am and who I want to be. Three years of being surrounded by driven individuals and being guided by exceptional professors moulded me into a strong and resilient individual, poised to tackle any problems thrown my way. Representing the university in the British Universities and Colleges Sport (BUCS) volleyball league really opened my eyes to the humility in winning and the pride in losing, and that a strong mentality can conquer most battles.
  </p>
  <br>
  <p>
    Manchester awakened many passions in me, and really taught me to never stop doing what I love.
  </p>
  <br>
  <img src="/assets/images/tjc.png" alt="Temasek Junior College">
  <h3>Temasek Junior College (Singapore)</h3>
  <p class="subtitle">Class of 2014</p>
  <p>
    This was where I discovered my love for sport and for people. These two years saw me combat cyberbullying in my society in a year-long group project, joining a volunteer program to help build toilets in a Cambodian village, and fracturing my wrist playing Ultimate Frisbee for the first (and last) time. I'm grateful to have cultivated my carefree personality and positive attitude to life here.
  </p>

</div>
