<div class="content">
  <app-image smallSrc="assets/img/me_small.png" largeSrc="assets/img/me.png" altText="Amelia feeding a deer"></app-image>

  <h2 class="info">
    software engineer + creative thinker + foodie
  </h2><p class="info">
    manchester, united kingdom
  </p>
  <br>
  <p>
    I'm 22, graduating in July 2019 with what I hope will be a first-class Computer Science degree. I'm happiest when I'm exploring my creativity and learning new things!<br>

    <br>
    I like making things better, and making better things.<br>
    (It is, after all, somewhat in my namesake. 😊)
  </p>
  <br>
  <p>
    Download my resume <a href="/assets/ameliahuang.pdf">here</a>.
  </p>
  <br>
  <h3>ameliorate</h3>
  <p class="subtitle">verb</p><br>
  <span>/əˈmiːlɪəreɪt/</span><br>
  <ol>
    <li><p>make (something bad or unsatisfactory) better.</p></li>
  </ol>
</div>
