:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

h1 {
  font-size: 50px;
  position: absolute;
  bottom: -25px;
  left: 25px;
}

.content {
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting {
  position: relative;
  text-align: center;
}

.blurb {
  flex: 1;
}

.info {
  text-align: center;
}
