:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-size: 1.3em;
}

h3 {
  display: inline-block;
}

a {
  color: var(--darker-green);
}

span {
  font-size: 15px;
  opacity: 0.7;
}

ol {
  margin: 0;
}

.subtitle {
  margin-left: 10px;
  display: inline-block;
}

.definition {
  margin-top: -10px;
}

.content {
  border-top-left-radius: 0px;
}

.info {
  text-align: center;
}
