<div class="content">
  <div class="accenture">
    <div class="img">
    </div>
    <h1>Accenture</h1>
    <h3>Technology Placement</h3>
  </div>
  <div class="ttp">
    <div class="img">
    </div>
    <h1>To The Point Pte Ltd</h1>
    <h3>Work Experience</h3>
  </div>
  <div class="vhub">
    <div class="img">
    </div>
    <h1>Volleyball Hub</h1>
    <h3>Digital Marketing Associate</h3>
  </div>
  <div class="ambassador">
    <div class="img">
    </div>
    <h1>School of Computer Science</h1>
    <h3>Student Ambassador</h3>
  </div>
</div>
