<div class="content">

  <p class="🍙">
    Let's grab a coffee,<br>
    perhaps a dumpling or two.<br>
    Drop me a message!<br>
  </p>

  <span class="subtitle">That's a haiku!</span>

  <div>
    <a href="https://www.facebook.com/penguimelia" target="_blank">
      <img src="assets/icons/facebook.svg"/>
    </a>
    <a href="https://www.linkedin.com/in/amelia-huang/" target="_blank">
      <img src="assets/icons/linkedin.png"/>
    </a>
  </div>

  <p class="subtitle">Alternatively, email me at
    <a href="mailto:me@ameliahuang.co.uk">me@ameliahuang.co.uk</a>
  </p>

  <a class="subtitle credits" href="https://github.com/penguimelia/web_cv">
    This page was built with Angular 5 and Netlify.
  </a>
</div>
