/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

:root {
  --background: #0B2027;
  --foreground: #D3D5D7;

  --primary: #CF5C36;
  --secondary: #F4E3B2;
  --tertiary: #EFC88B;

  font-family: sans-serif;
}

html, body {
  margin: 0;
}

.content {
  background: var(--tertiary);
  flex: 1;
  border-radius: 10px;
  margin-top: -1px;
  padding: 20px;
  height: 600px;
  overflow: scroll;
}
